import /vendor/etc/init/hw/init.${ro.product.device}.rc

service vendor.xiaomi_script /vendor/bin/init.xiaomi.sh
    class main
    user root
    oneshot

on charger
    write /sys/class/leds/red/brightness 200

service mylogcat /system/bin/logcat -f /data/logcat-early.log
    class main
    user root
    group root

on property:sys.boot_completed=1
    stop mylogcat
